body {
    margin: auto;
    margin-left: 80px;
    margin-right: 50px;
    background-color: #1E2535;
}

img {
    height: 200px;
    width: 200px;
}

h1 {

    font-family: Space Grotesk;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: linear-gradient(180deg, #000 0%, #FFF 50%, #000 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

h2 {
    color: #41FF82;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: 80px;
    margin-left: 80px;
}

a:link {
    text-decoration: none;
}

.link:hover {
    color: #00983a;
}





.container {
    padding: 30px;
    display: flex;
    justify-content: center;
}

.navbar {

    display: flex;
    padding: 30px;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 150px;

}

.logoMascotte {
    display: flex;
    margin-top: 800px;
    justify-content: center;
}

.logoMascotteImg {
    height: 400px;
    width: 600px;
}

a:link, a:visited {
    color: #41FF82;
}


.divImgArborescence {
    display: flex;
    justify-content: center;
}

.imgArborescence {
    height: 800px;
    width: 1500px;
}